{% extends './layouts/base.html' %}
{% comment %}
    para esta pagina tener en cuenta.
    EXTENDS -> sirve para extender de una plantilla en este caso ./layouts/base.html
    BLOCK -> para cargar en la plantilla base datos de manera dinamica.
{% endcomment %}
{% block main %}
    <p>Bienvenido a mi portafolio web donde veremos los proyectos a realizarse este 2024</p>
    <ul>
        <li>DESARROLLO CON LARAVEL.</li>
        <li>DESARROLLO CON DJANGO</li>
        <li>DESARROLLO CON SPRINT BOOT</li>
        <li>DESARROLLO CON NEST.JS</li>
        <li>DESARROLLO CON EXPRESS.JS</li>
        <li>DESARROLLO CON CODEIGNITER</li>
        <li>DESARROLLO CON FLASK</li>
        <li>ANIMO Y A DARLO CON TODO ESTE 2024</li>
    </ul>
{% endblock main %}
    