{% comment %} para esta pagina tener en cuenta. EXTENDS -> sirve para extender
de una plantilla en este caso ./layouts/base.html BLOCK -> para cargar en la
plantilla base datos de manera dinamica. {% endcomment %} {% extends
"./layouts/base.html" %} {% block title %}SOBRE NOSOTROS{% endblock title %} {%
block main %} {% comment %} - uso del bloque comentario - en este caso tenemos
la platilla que solo corresponde a la informacioón del usuario. asi como los
lenguajes de programación que domina el usuario(a). {% endcomment %}

<h1>Sobre Nosotros</h1>

{# carga de variables desde la ruta de manera dinamica. #}
<p>bienvenido al curso de django. {{ nombre }} espero te encuentres muy bien</p>
<p>{{lenguajes}}</p>

{% comment %} recorrido de los lenguajes que domina el usuario asi mismo en caso
de que el lenguaje sea -> JS imprimiremos el valor de tipo uppercase. * para
este ejemplo usaremos cliclo for y condiciones if. {% endcomment %}

<ul>
  {% for leng in lenguajes %} {% if leng == 'js' %}
  <li><b>{{leng|upper}}</b></li>
  {% else %}
  <li>{{leng}}</li>
  {% endif%} {% endfor %} {# tambien podemos usar | clave para especificar mejor
  los datos a mostrar en la plantilla. #}
  <h5>total de lenguajes dominados por el usuario. -> {{lenguajes|length}}</h5>
</ul>
{% endblock main %}
